.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  margin: 50px;
}

.model {
  background-color: #ddd;
  padding: 50px;
  position: relative;
}

button.close {
  position: absolute;
  right: 16px;
  top: 14px;
}

button {
  background-color: #af1f1f;
  color: #fff;
  border: none;
  font-size: 30px;
  padding: 14px 60px;
  cursor: pointer;
}